{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>
<body>
<div class="page">
    <header class="header">
        <div class="switch">
            <a class="btn btn-light" href="{% url 'main-page' %}">RU</a>
            <a  class="btn btn-info" href="{% url 'en-page' %}">EN</a>
            {% if request.user.is_authenticated %}
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="bb">
                Профиль
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'my_booking' %}">Моя бронь</a></li>
                    <li><a class="dropdown-item" href="{% url 'visa-page' %}">Визовая поддержка</a></li>
                    <li><a class="dropdown-item" href="{% url 'visa-status' %}">Ваши заявки</a></li>
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="/admin/">Административная панель</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                </ul>
            </div>
            {% else %}
            <a class="btn btn-success" href="{% url 'register' %}" id="register">Регистрация</a>
            <a class="btn btn-primary" href="{% url 'login' %}" id="login">Войти</a>
            {% endif %}
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <img src="{% static 'main/img/img1.png' %}" alt="" class="round_img">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'room-page' %}">Номера</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'food-page' %}">Ресторан</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery-page' %}">Галерея</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service-page' %}">Доп. услуги</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-page' %}">Контакты</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'booking-page' %}">Бронирование</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>

    <main class="content">
        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>